TextField {
    -fx-border-color: lightskyblue;
    -fx-background-color: linear-gradient(whitesmoke, lightcyan);;
}

TextField:pressed {
    -fx-border-color: pink;
}

PasswordField {
    -fx-border-color: lightSkyBlue;
    -fx-background-color: linear-gradient(whitesmoke, lightcyan);;
}

ChoiceBox {
    -fx-border-color: lightSalmon;
    -fx-background-color: linear-gradient(lightcyan, lightpink);;
}

CheckBox {
    -fx-text-fill: #00ff6a;
}

PasswordField:pressed {
    -fx-border-color: pink;
}

Button{
    -fx-background-color: linear-gradient(darkmagenta, blue);
    -fx-text-fill: white;
}
Button:pressed {
    -fx-background-color: linear-gradient(lightgreen, darkcyan);
}

.Label {
    -fx-text-fill: #ebebfc;
}