Button {
    -fx-min-width: 180;
    -fx-min-height: 60;
    -fx-text-fill: white;
    -fx-background-insets: 15;
    -fx-background-color: brown;
    -fx-background-radius: 40;
    -fx-font-size: 15;
    -fx-font-family: "Cambria Math";
}

Label {

}

Button:pressed {
    -fx-background-color: green;
    -fx-font-size: 17;
}
Button:hover {
    -fx-text-fill: lightblue;
}